
ul {
    text-align: center;
}
ol {
    text-align: center;
}
body {
    text-align: center;
    
}

div {
    width: 50%;
    text-align: center;
    border: 2px solid blue;
    color: green;
    margin: auto;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.popup .popuptext {
    visibility: hidden;
  width: 160px;
  background-color: grey;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}


.popup .show {
    visibility: visible;
    
}